@model IEnumerable<advanced_programming_2_backend.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1 align="middle">Ratings</h1>
@{
    int sum = 0, counter = 0;
    foreach (var item in Model)
    {
        sum += item.Score;
        counter++;
    }
    if (counter == 0)
    {
    <h2>No ratings yet - be the first!</h2>
    }
    else
    {
        double avg2d = (sum * 100) / counter;
        avg2d /= 100;
    <h2>@avg2d / 5</h2>
    }
}
<a asp-action="Create">Rate us!</a>
@foreach (var item in Model)
{
    <section>
        <div style="text-align:center; padding: 0.5rem 0">
            @for (int i = 0; i < item.Score; i++)
            {
                <img src="~/Images/starGold.png" align="middle" />
            }
            @for (int i = item.Score; i < 5; i++)
            {
                <img src="~/Images/starHollow.png" align="middle" />
            }
        </div>
        <h3>@item.Title</h3>
        <h5>@item.Description</h5>
        <text style="color:antiquewhite; padding:0 0 0 0.3rem">Last edit on @item.Date</text> | 
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> | 
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </section>
}